@import 'Styles/services/common';

.header {
    background-color: cadetblue;
    height: var(--navbar-height);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backBtn {
    background-color: azure;
    color: cadetblue;
}