@import 'services/common';
@import 'services/normalize';

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: map_get($fonts, default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
    color: #383636;
}

:root {
    --navbar-height: 64px;
}

@media screen and (min-width: $mobile) {
    :root {
        --navbar-height: 80px;
    }
}

@media screen and (min-width: $tablet) {
    :root {
        --navbar-height: 107px;
    }
}

.hide-mobile {
    @media (max-width: $mobile - 1px) {
        display: none !important;
    }
}

.hide-tablet {
    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
        display: none !important;
    }
}

.hide-desktop {
    @media (min-width: $tablet) {
        display: none !important;
    }
}

#root {
    padding-bottom: $indent * 3;
}

button, .btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: cadetblue;
    color: azure;
    box-shadow: $block-shadow;
    border: none;
    border-radius: $indent / 2;
    font-weight: 700;
    transition: box-shadow 0.3s;
    text-decoration: none;

    &:hover {
        box-shadow: 0 2px 6px 0 gray;
    }

    &:disabled {
        background-color: #fff;
        color: cadetblue;
        cursor: not-allowed;

        &:hover {
            box-shadow: $block-shadow;
        }
    }
}