@import 'Styles/services/common';

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s;

    .modal-dialog {
        transform: translateY(-1000px);
        transition: 0.5s;
        background: white;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }

    .modal-body {
        margin-bottom: 20px;
    }

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: end;

        button:not(:last-child) {
            margin-right: 10px;
        }
    }

    .btn-close {
        @include reset-button;
        color: black;
        position: absolute;
        right: 20px;
        top: 20px;
        box-shadow: none;
        font-size: 40px;
        padding: 1px;
        font-weight: 300;
    }
}

.modal-css-enter-active {
    background: #0007;
    .modal-dialog {
        transform: translateY(0);
    }
}

.modal-css-enter-done {
    background: #0007;
    .modal-dialog {
        transform: translateY(0);
    }
}

.modal-css-exit {
    .modal-dialog {
        transform: translateY(-1000px);
    }
}
